<div class="container">
  <div class="panelcontrol">
  <div class="actions form-group form-singup">
    <a href="/cities" class="btn btn-info btn-singup js-cities" type="submit">Cities</a>
  </div>
  <div class="actions form-group form-singup">
    <a href="/pointsofinterest" class="btn btn-info btn-singup js-points" type="submit">Points</a>
  </div>
</div>
</div>
