
	<div class="container showCity">
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>
      <tr>
        <td><%= @city.name%></td>
      	<td><%= @city.description%></td>
        <td><%= @city.latitude%></td>
        <td><%= @city.longitude%></td>
      </tr>
  </table>
  <a href="/cities" class="" type="submit">Back</a>
</div>
